<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="margin: 0%;">
<div  style="
margin: 0;
align-items: center;
text-align: center;
align-content: center;
justify-content: center;
display: grid;
height: 100vh;
/* flex: 1; */
">
<div style="color: #516beb; font-weight: bold; font-size: 18;   ">
    <span 
      >Loading...</span
    >
  </div>
      <form name="f1" action="/payment/paypal" method="post">
        
      </form></div>

  </body>
</html>
